<!--
 * @Author: your name
 * @Date: 2019-11-17 16:40:13
 * @LastEditTime: 2019-11-17 16:42:41
 * @LastEditors: your name
 * @Description: In User Settings Edit
 * @FilePath: /tornado_study/chapter2/templates/poem.html
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Poem Maker Pro</title>
</head>
<body>
    <h1>Your Poem</h1>
    <p>Two {{roads}} diverged in a {{wood}}, and I - <br> I took the one less travelled by, <br>
    And that has {{made}} all the {{difference}}.
    </p>
</body>
</html>